.mobile-navbar{
	position: absolute;
	top:15px;
	left: 0;
	width: 100%;
	z-index: 2;
	.bg-light{
		background:transparent !important; 
		.navbar-toggler{
			margin-top: 0px;
			margin-left: 10px;
			border:0px solid #009fe4;
			border-radius:0px;
			outline: 0;
			.navbar-toggler-icon{
				background-image:url('../images/nav-line.png');
			}
		}
		.navbar-nav{
			a{
				color: #fff;		
				display: block;
				padding: 10px 10px;	
				text-transform: uppercase;    
			}	
		} 
		.navbar-collapse{
			background-color:$logo_bg ;
			margin-top:15px;
		}
		.sub-menu{
			list-style: none;
		}
	}
	.navbar{
		padding: 0
	}	
}
